RewriteEngine On
#RewriteRule ^(.*)$ view/$1
#RewriteRule ^(assets|classes|config|controllers)/ - [L]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(.*)$ view/$1 [L]